<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.docinabag.myapplication2" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Open EMR Test"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateNewPatientActivity"
            android:label="Create New Patient Record" >
            <intent-filter>
                <action android:name="com.docinabag.myapplication2.CreateNewPatientActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchForPaitentActivity"
            android:label="Search For Patient Record" >
            <intent-filter>
                <action android:name="com.docinabag.myapplication2.SearchForPaitentActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectTestActivity"
            android:label="Available Tests" >
            <intent-filter>
                <action android:name="com.docinabag.myapplication2.SelectTestActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GlucoseTestActivity"
            android:label="Glucose Test" >
            <intent-filter>
                <action android:name="com.docinabag.myapplication2.GlucoseTestActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BloodPressureTestActivity"
            android:label="Blood Pressure Test" >
            <intent-filter>
                <action android:name="com.docinabag.myapplication2.BloodPressureTestActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
